{
	log {
		output stdout
		level ERROR
	}
}

app.breederhq.test {
	tls internal
	reverse_proxy localhost:6170
}

portal.breederhq.test {
	tls internal
	reverse_proxy localhost:6171
}

marketplace.breederhq.test {
	tls internal
	reverse_proxy localhost:6172
}

www.breederhq.test {
	tls internal
	reverse_proxy localhost:4321
}
